page-registro-cliente {
  // Footer
  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    color: rgb(241, 103, 103);
    background: rgba(94, 89, 89, 0.06);
    min-height: 47px;
  }
}
